{% extends 'base.html' %}

{% block title %}{{ bean.name }} | Roastery{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ bean.name }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <small>Created: {{ bean.created|date:"d M Y" }} by {{ bean.created_by.username }}</small>
        </div>
    </div>
</div>


<hr/>
<div class="container">
    <div class="d-flex justify-content-center">
        <p>Back to <a href="{% url 'coffee:bean-list' %}">all</a> beans</p>
    </div>
</div>
{% endblock content %}
