{% extends 'base.html' %}

{% block title %}{{ bean.name }} | Roastery{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ bean.name }}</h2>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% load tz %}
            {% timezone 'America/New_York' %}
            <small>Created: {{ bean.created|date:"d M Y - h:i A" }} by {{ bean.created_by.username }}</small>
            {% if bean.modified > bean.created %}
            <br>
            <small>Last Modified: {{ bean.modified|date:"d M Y - h:i A" }}</small>
            {% endif %}
            {% endtimezone %}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <h6>Origin: {{bean.country.name}} <img src="{{bean.country.flag}}" alt="{{bean.country.name}} flag"> </h6>
            <p>{{ bean.description }}</p>
        </div>
    </div>
    {% if bean.roasts %}
    <div class="row">
      <div class="col-sm-12">
        <h6>Past Roasts:</h6>
        <ul>
          {% for roast in bean.roasts %}
            <li><a href="{% url 'coffee:roast-detail' roast.slug %}">{{ roast }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}


</div>

    <div class="container">
        <div class="d-flex justify-content-center">
        {% if request.user == bean.created_by %}
            <a href="{% url 'coffee:bean-update' bean.slug %}" class="btn btn-warning mx-2">Update</a>
        {% endif %}
            <a href="{% url 'coffee:roast-add' %}?bean={{bean.id}}" class="btn btn-dark mx-2">Roast</a>
            <button type="button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#labelModal">
                Label
            </button>
        </div>
    </div>

<hr/>
<div class="container">
    <div class="d-flex justify-content-center">
        <p>Back to <a href="{% url 'coffee:bean-list' %}">all</a> beans</p>
    </div>
</div>
{% endblock content %}

{% block modal %}
<div class="modal fade" id="labelModal" tabindex="-1" role="dialog" aria-labelledby="labelModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="labelModalLongTitle">Generate Label for {{ bean.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'report:bean-label' %}" method="post" target="_blank">
      <div class="modal-body">
        {% csrf_token %}
        <input type="hidden" name="bean_id" value="{{bean.id}}">
        <label for="size">Select a size:</label><br>
        <select name="size" id="size">
          <option value="4x2.12">4 x 2.12</option>
          <option value="8.5x11">Letter</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary mx-2" value="Label" />
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock modal %}
