{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ view.action|default:"Add" }} Bean | Roastery{% endblock title %}

{% block content %}
{% with action=view.action|default:"Add" %}
<h2>{{action}} Bean</h2>
<form method="post" action=".">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="container">
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-{{ view.bootstrap_class|default:"success"}} mx-2">{{action}}</button>
            {% if view.action == "Update" %}
            <a href="{% url "coffee:bean-delete" bean.slug %}" class="btn btn-danger mx-2">Delete</a>
            {% endif %}
        </div>
    </div>
</form>
{% endwith %}
<hr>
<div class="container">
    <div class="d-flex justify-content-center">
        <p>Back to <a href="{% url 'coffee:bean-list' %}">all</a> beans</p>
    </div>
</div>
{% endblock content %}
