{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ view.action|default:"Add" }} Exraction | Roastery{% endblock title %}

{% block content %}
{% with action=view.action|default:"Add" %}
<h2>{{action}} Extraction</h2>
    {% crispy form %}
{% endwith %}
<hr>
<div class="container">
    <div class="d-flex justify-content-center">
        <p><a href="{{request.META.HTTP_REFERER}}">Cancel</a></p>
    </div>
</div>
{% endblock content %}

{% block inline_javascript %}
<script>
/// Get roast id from query parameters and select in drop-down
function selectElement(id, valueToSelect) {
    let element = document.getElementById(id);
    element.value = valueToSelect;
}

const urlParams = new URLSearchParams(window.location.search);
const roastId = urlParams.get("roast");

if (roastId) {
    selectElement("id_roasted_bean", roastId)
}

</script>
{% endblock inline_javascript %}
